
@import url('https://fonts.googleapis.com/css?family=Sacramento');


$top-nav-height: 55px;
$sidenav-width: 300px;
$c2s-aqua: #41E2BA;

.top-navbar {
  background: linear-gradient(to right, aqua , aquamarine)!important;
  height: 55px;
  display: flex;
  .brand-logo {
    height: 55px;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  
}

body {
  height: 0;
}

.ui.menu .item:before{
  background: none !important;
}

.sidenav {
  margin: 0 !important;
  width: $sidenav-width !important;
  position: fixed !important;
  border: none !important;
  overflow: hidden !important;
  top: $top-nav-height;
}

.challenges-container {
  position: relative;
  margin-top: $top-nav-height;
  background-color: rgba(0,0,0,.05);
  overflow: hidden;
}

.with-sidenav {
  width: calc(100vw - #{$sidenav-width});
  margin-left: $sidenav-width;
}

.partnership-container {
  position: relative;
  margin-top: 55px;
  padding-top: 20px;
  background-color: rgba(0,0,0,.05);
}

.set-min-height {
  min-height: calc(100vh - #{$top-nav-height}) !important;
}

.sign-up-container{
  display: flex !important;
  align-items: center !important;
  height: 100vh;
  background-color: #ededed;

  div.ui.segment{
    width: 100%;
    margin-top: -300px;

  }
}

.main-user-info {
  display: flex;
  align-items: center;
  height: 48px;
  line-height: 48px;
  margin: 15px;
  justify-content: space-between;

  .user-image {
    border-radius: 50%;
  }

  .user-name {
    font-size: 1.6rem;
    font-weight: 600;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
}

.side-info-tab{
  font-size: 1.2rem;
  padding: 15px 20px !important;
  font-weight: 660;
  .label-value{
    margin-bottom: 5px;
    font-size: 1.4rem !important;
    color: darken(aquamarine, 15%);
  }
}

.fancy-font{
  font-family: 'Sacramento', cursive !important;
}

h1.fancy-font{
  font-weight: 400 !important;
  font-size: 4rem !important;
}

.c2s-aqua{
  background-color: $c2s-aqua !important;
  color: white !important;
  text-transform: uppercase !important;
  font-size: 1.2rem !important;
  letter-spacing: 3px;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.c2s-aqua-text{
  color: $c2s-aqua !important;
}

.completed-challenges {
  span:first-child{
    font-size: 1.75rem;
    font-weight: 600;
    margin-right: 10px;
  }
  span:last-child{
    font-size: 1.25rem;
  }
}

.landing-page-jumbotron{
  position: relative;
  min-width: 100vw;
  max-height: 1000px;
  //padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  padding: 66.6667% 0 0 0;

  img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .floating-message{
    background-color: rgba(240,240,240,.4);
    border-radius: 0;
    position: absolute;
    left: 40px;
    bottom: 40px;
    padding: 25px;
  }
  .floating-message-mobile{
    background-color: rgba(240,240,240,.6);
    border-radius: 0;
    position: absolute;
    left: 5px;
    width: calc(100vw - 10px);
    height: calc(100% - 10px);
    bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;

    .content-to-center{
      .fancy-font{
        font-size: 3rem;
        font-weight: 500;
      }
      margin: auto auto;
    }
  }
}


.challenges-content{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .challenges-name{
    font-size: 1.5rem;
    letter-spacing: 1.25px;
    font-weight: 600;
    width: 100%;
    color: rgba(33,33,33,1);
  }

  .challenges-icon{
    float: right;
    color: rgba(33,33,33,1);

    .complete-text{
      font-weight: bold;
    }
  }
}


.c2s-logo{
  font-size: 1.7rem !important;
  letter-spacing: 1.5px;
  font-weight: 500 !important;
}

.products-and-services{
  background-color: #FFFAF9 !important;
  padding: 20px !important;
  margin: 0 !important;
}

.information-header-text{
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.information-sub-header-text{
  font-family: 'Sacramento', cursive !important;
  text-align: center;
  font-size: 2.5rem;
}

.set-min-tab-height{
  height: calc(100vh - 203px) !important;
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
}

.no-left-margin{
  margin-left: 0px !important;
}

.clickable{
  cursor: pointer;
}

.code-container{
  position: relative;
  padding: 10px;
  .code-area {
    display:block;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    outline: none;
    border: none;
    box-shadow: 0px 2px 3px lightslategray;
    border-radius: 10px;
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    background-color: white;
    resize: none;
  }
}

.ui.card>.image, .ui.cards>.card>.image{
  background: transparent;
  color: black;
}

.challenge-topbar{
  border: none !important;
  margin-bottom: 0 !important;
  border-radius: none !important;
  .item{
    border-radius: 0 !important;
  }
}

.code-button {
  background-color: #41E2BA !important;
  border-radius: 18px !important;
  color: white !important;
}

.code-button-gray {
  background-color: #C7C7C7 !important;
  border-radius: 18px !important;
  color: white !important;
}

.strike-through{
  color: dimgray;
  text-decoration: line-through;
  font-weight: 600; 
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  cursor: unset;
}

.redeemable {
  color: aquamarine !important;
  font-weight: 600; 
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
}

.redeemable-points {
  text-align: center;
}

.redeemable-points-value{
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.primary-text{
  color: #41E2BA !important;

}

.center-content{
  display: flex !important;
  justify-content: center !important;
}


.align-content-left{
  display: flex !important;
  justify-content: flex-start !important;
}

.align-content-right{
  display: flex !important;
  justify-content: flex-end !important;
}