.top-navbar {
  background: linear-gradient(to right, aqua , aquamarine)!important;
  height: 55px;
  display: flex;
  .brand-logo {
    height: 55px;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  
}

.ui.menu .item:before{
  background: none !important;
}

#root {
  height: 100vh;
}

.sidenav {
  margin: 0 !important;
  width: 300px !important;
  position: fixed !important;
  border: none !important;
  overflow: hidden !important;
  top: 55px;
}

.challenges-container {
  position: relative;
  margin-top: 55px;
  width: calc(100vw - 300px);
  margin-left: 300px;
  background-color: rgba(0,0,0,.05);
  overflow: hidden;
}

.partnership-container {
  position: relative;
  margin-top: 55px;
  padding-top: 20px;
  background-color: rgba(0,0,0,.05);
}

.set-min-height {
  min-height: calc(100vh - 55px) !important;
}

.main-user-info {
  display: flex;
  align-items: center;
  height: 48px;
  line-height: 48px;
  margin: 15px;
  justify-content: space-between;

  .user-image {
    border-radius: 50%;
  }

  .user-name {
    font-size: 1.6rem;
    font-weight: 600;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
}

.side-info-tab{
  font-size: 1.2rem;
  padding: 15px 20px !important;
  font-weight: 660;
  .label-value{
    margin-bottom: 5px;
    font-size: 1.4rem !important;
    color: darken(aquamarine, 15%);
  }
}

.completed-challenges {
  span:first-child{
    font-size: 1.75rem;
    font-weight: 600;
    margin-right: 10px;
  }
  span:last-child{
    font-size: 1.25rem;
  }
}

.set-min-tab-height{
  height: calc(100vh - 203px) !important;
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
}

.no-left-margin{
  margin-left: 0px !important;
}

.code-container{
  position: relative;
  padding: 10px;
  .code-area {
    display:block;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    outline: none;
    border: none;
    box-shadow: 0px 2px 3px lightslategray;
    border-radius: 10px;
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    background-color: white;
    resize: none;
  }
}

.ui.card>.image, .ui.cards>.card>.image{
  background: transparent;
  color: black;
}

.challenge-topbar{
  border: none !important;
  margin-bottom: 0 !important;
  border-radius: none !important;
  .item{
    border-radius: 0 !important;
  }
}

.code-button {
  background-color: #41E2BA !important;
  border-radius: 18px !important;
  color: white !important;
}

.code-button-gray {
  background-color: #C7C7C7 !important;
  border-radius: 18px !important;
  color: white !important;
}

.strike-through{
  color: dimgray;
  text-decoration: line-through;
  font-weight: 600; 
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  cursor: unset;
}

.redeemable {
  color: aquamarine !important;
  font-weight: 600; 
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
}

.redeemable-points {
  text-align: center;
}

.redeemable-points-value{
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.primary-text{
  color: #41E2BA !important;

}

.center-content{
  display: flex !important;
  justify-content: center !important;
}


.align-content-left{
  display: flex !important;
  justify-content: flex-start !important;
}

.align-content-right{
  display: flex !important;
  justify-content: flex-end !important;
}